<launch>
    <!--     define cfg yaml file -->
    <param name="param_file" type="str" value="$(find weeding_machine)/cfg/param_offline.yaml" />

    <!--   rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find weeding_machine)/rviz/main_2.rviz"/>

    <!--     lane_det -->
    <node pkg="weeding_machine" type="lane_det_gaus.py" name="lane_det_gaus" output="screen"/>
</launch>
